.backgroundimage {
  pointer-events: none;
  z-index: -1;
  top: 0px;
  width: 96vw;
  height: inherit;
  position: absolute;
  border: 1px solid grey;
  margin: 2vh 2vw;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 15px;
}

.wrapper {
  height: fit-content;
}

.newBackground {
  margin: 2vh 2vw;
  border-radius: 10px;
  box-shadow: 5px 5px 15px;
  background-image: url("../public/Ring.jpg");
  background-repeat: repeat-y;
  background-size: 30px 30px;
}
