@import 'variables';

@font-face {
  font-family: 'Nunito';
  src: url('../public/fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'ti83_plus';
  src: url('../public/fonts/ti83_plus.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../public/fonts/Neucha-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  &::-webkit-scrollbar {
    width: 0px;
  }
  scrollbar-width: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-inline-start: 0px;
}

* {
  box-sizing: border-box;
  quotes: "''" "''" "'" "'";
}

p {
  line-height: 2rem;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  background-color: $background-section;
  text-align: center;

  @media screen and (min-width: 651px) {
    padding: 10px 40px;
  }
  @media screen and (max-width: 650px) {
    font-size: 14px;
  }
}

.sectionTitle {
  font-family: 'Neucha';
  text-transform: uppercase;
  color: $blue;
  text-decoration: underline;
  letter-spacing: 2px;
  font-size: clamp(1.44rem, 3vw, 1.728rem);
  margin: 5px 0px;
  text-align: center;
}

.sectionDivider {
  width: 30%;
  height: 3px;
  background-color: $black;
  border-radius: 2px;
  border: 0px;
  margin-bottom: 15px;
}

.button {
  background: $yellow;
  color: $black;
  z-index: 1;
  border: 0px;
  border-radius: 10px;
  padding: 8px 15px;
  transform: rotate(2deg);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px;
  width: fit-content;
  font: {
    size: $fs-large;
    family: 'Neucha';
  }

  &:hover {
    background: $dark-yellow;
    transform: rotate(-2deg);
  }
}

.buttonbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding-bottom: 15px;
}

.ti-font {
  font-family: 'ti83_plus';
}

.header-font {
  font-family: 'Neucha';
}

.calcImage {
  pointer-events: none;
  z-index: 9999;
}

.background {
  pointer-events: none;
  z-index: -999;
  position: absolute;
}

.bold {
  font-weight: bold;
  font-size: 1.1rem;
}

.importantText {
  color: $red;
  font-weight: bold;
  text-decoration: underline;
  font-weight: 1.1rem;
}

.centerdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.quote {
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
  }
}

.hoverLink {
  &:hover {
    color: $green;
    text-decoration: underline;
  }
}

.imageWrapper {
  margin: 0 auto;
  padding: 8px;
}

.smallparagraph {
  width: 80%;
  margin: 0 auto;
}

.centerlist {
  width: fit-content;
  margin: 0 auto;
  li {
    padding: 3px 0px;
  }
}