/* Colors */
$red: #D63733;
$green: #1F6F36;
$blue: #203666;
$black: #272D2B;
$yellow: rgba(248,245,71,0.6);
$dark-yellow: rgba(248,245,71,1);
$calc-color: #9BA791;
$calc-font-color: #020700;
$background-section: rgba(255,255,255,0.5);

/* Font Families */
$header-font: 'Neucha';
$ti-font: 'ti83_plus';

/* Font Sizes */
$fs-xxxlarge: 2.488rem;
$fs-xxlarge: 2.074rem;
$fs-xlarge: 1.728rem;
$fs-large: 1.44rem;
$fs-mlarge: 1.2rem;
$fs-small: 0.833rem;
$fs-xsmall: 0.7rem;

/* div sizes */
$flex-section-width: 350px;

